<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>270866384937-tbv35om72lqknohser03ddh8ek2149oj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.270866384937-tbv35om72lqknohser03ddh8ek2149oj</string>
	<key>API_KEY</key>
	<string>AIzaSyBdMnPLvNO2yzHL_Qo_ik0iKq-V0V-UkMw</string>
	<key>GCM_SENDER_ID</key>
	<string>270866384937</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.SashasList</string>
	<key>PROJECT_ID</key>
	<string>sashas-list-rn</string>
	<key>STORAGE_BUCKET</key>
	<string>sashas-list-rn.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:270866384937:ios:dc7ace47fba5e41559f438</string>
</dict>
</plist>